@page "/"
@layout EmptyLayout

@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject BisleriumCafe.Data.Services.SessionService _sessionService
@inject BisleriumCafe.Data.Services.AuthService _authService
@inject BisleriumCafe.Data.Repositories.Repository<User> _userRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Spare> _spareRepository;
@*Ryan*@
@inject BisleriumCafe.Data.Repositories.Repository<Product> _productRepository;
@inject BisleriumCafe.Data.Repositories.Repository<ActivityLog> _activityLogRepository;

@inject ISnackbar Snackbar;

<div class="d-flex justify-center align-center" style="height: 100vh">
    <MudStack AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Rounded.LocalCafe" Color="Color.Primary" Style="font-size:120" />
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudStack>
</div>

